<%= link_to '戻る', entries_path %>
<hr>

<div id="entry">
  <div id="entry_wrapper">
    <%= @entry.updated_at.strftime("%Y-%m-%d %H:%M") %>
    <div id="entry_item">
      <h2><%= @entry.title %></h2>
      <div id="entry_body">
        <%= simple_format(@entry.content) %>
      </div>
    </div>
  </div>
  <div id="control_bar">
    <%= @entry.updated_at.strftime("%Y-%m-%d %H:%M") %><br>
    <%= link_to '編集', edit_entry_path(@entry) %>
    <%= link_to '削除', @entry, method: :delete, data: { confirm: '本当に削除しますか' } %>
  </div>
</div>

<div id="comment">
  <h2>コメント</h2>
  <% @entry.comments.each do |entry| %>
  <div>
    <h3><%= entry.user_name %></h3>
    <blockquote><%= entry.body %></blockquote>
  </div>
  <% end %>
</div>

<%= render 'comments/form' %>
